{% extends 'dashboard.html' %}
{% block title %}تنظیمات{% endblock %}
{% load static %}


{% block content %}
    <div class="main-content">
        <!-- Header -->
        <div class="header">
            <h2>تنظیمات</h2>
            <div class="user-info">
                <span>{{ request.user.username }}</span>
                {% if request.user.profile.image %}
                    <img src="{{ request.user.profile.image.url }}" alt="{{ request.user.username }}">
                {% else %}
                    <img src="{% static 'images/profile.png' %}" alt="{{ request.user.username }}">
                {% endif %}
            </div>
        </div>

        <!-- Change Password Form -->
        <div class="password-form">
            <form method="post">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    {% if error %}
                        <p class="alert-error">{{ error }}</p>
                    {% endif %}
                {% endfor %}

                {% if form.old_password.errors %}
                    <div class="alert-error">
                        {% for error in form.old_password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="current-password">رمز عبور فعلی</label>
                    <div class="password-input">
                        {{ form.old_password }}
                    </div>
                </div>

                {% if form.new_password.errors %}
                    <div class="alert-error">
                        {% for error in form.new_password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="new-password">رمز عبور جدید</label>
                        <div class="password-input">
                            {{ form.new_password }}
                        </div>
                    </div>

                    {% if form.confirm_new_password.errors %}
                        <div class="alert-error">
                            {% for error in form.confirm_new_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="confirm-password">تکرار رمز عبور جدید</label>
                        <div class="password-input">
                            {{ form.confirm_new_password }}
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">تغییر رمز عبور</button>
                    <a href="{% url 'tickets:dashboard' %}" style="text-decoration: none" class="btn btn-danger">انصراف</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}